section:nth-of-type(1) {
	margin: 2em 1em 0em 1em;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(1) h2 {
    font-family: "Fat Frank";
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 0 1em;
    color: var(--AchtergrondKleur);
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    align-self: end;
}

section:nth-of-type(1) p {
    font-family: "Vag Rounded";
    font-weight: 700;
    margin: .5em 0 0 1.5em;
    color: var(--AchtergrondKleur);
    grid-row-start: 2;
    grid-column-start: 1;
    z-index: 1;
    justify-self: start;
    align-self: start;
}

section:nth-of-type(1) img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

section:nth-of-type(1) a {
    grid-row-start: 2;
    grid-column-start: 2;
}

section ul {
    list-style: none;
    display: flex;
    overflow: scroll;
}

section:nth-of-type(2) li {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 1fr max-content;
}

section:nth-of-type(2) h2{
    font-family: "Fat Frank";
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 0 1em;
    color: var(--AchtergrondKleur);
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    align-self: end;
}

section:nth-of-type(2) p{
    font-family: "Vag Rounded";
    font-weight: 700;
    margin: .5em 0 0 1.5em;
    color: var(--AchtergrondKleur);
    grid-row-start: 2;
    grid-column-start: 1;
    z-index: 1;
    justify-self: start;
    align-self: start;
}

section:nth-of-type(2) img{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

section:nth-of-type(2) a {
    grid-row-start: 2;
    grid-column-start: 2;
}