/* Dit is de "header" banner */
main section:nth-of-type(1) {
    display: grid;
    margin-left: 1em;
    margin-right: 1em;
}

main section:nth-of-type(1) img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    min-width: 18em;
}

main section:nth-of-type(1) h2 {
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: end;
    z-index: 1;
    margin-left: .5em;
    color: var(--AchtergrondKleur);
}

main section:nth-of-type(1) p {
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: start;
    z-index: 1;
    margin-left: 1em;
    color: var(--AchtergrondKleur);
}

main section:nth-of-type(1) a {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: end;
    align-self: end;
    z-index: 1;
    margin: 1em;
    color: var(--AchtergrondKleur);
}

/* Carousel banner */
main section:nth-of-type(2) ul {
    display: flex;
    list-style: none;
    overflow: scroll;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

main section:nth-of-type(2) li {
    flex-basis: 18em;
    flex-shrink: 0;
}

main section:nth-of-type(2) article {
    display: grid;
    grid-template-columns: 2fr max-content;
}

main section:nth-of-type(2) img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
}

main section:nth-of-type(2) h2 {
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    z-index: 1;
    margin: 0 0 0 .5em;
    font-size: large;
    color: var(--AfbeeldingTekst);
}

main section:nth-of-type(2) p {
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: start;
    z-index: 1;
    margin: 0 0 0 .5em;
    color: var(--AfbeeldingTekst);
}

main section:nth-of-type(2) a {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: end;
    align-self: end;
    z-index: 1;
    margin: .7em;
    color: var(--AchtergrondKleur);
}

/* Nieuwe producten */
main section:nth-of-type(3) {
    display: grid;
    justify-items: center;
}

main section:nth-of-type(3) h2 {
    margin: 0;
    font-size: xx-large;
}

main section:nth-of-type(3) p {
    grid-row-start: 1;
    margin: 0;
    font-family: "Painted Paradise";
    font-size: larger;
    color: var(--HuisstijlKleur);
}

main section:nth-of-type(3) ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
    padding: 0;
    justify-content: center;
}

main section:nth-of-type(3) li {
    background-color: var(--AchtergrondKleur);
    box-shadow:0 0 .5em .05em var(--SchaduwKleur);
    border-radius: 1em;
    max-width: 12em;
}

main section:nth-of-type(3) article {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 10em max-content max-content;
}

main section:nth-of-type(3) article a:first-of-type {
    color: var(--TekstNavigatie);
    grid-row-start: 2;
    margin-left: .5em;
}

main section:nth-of-type(3) article a:first-of-type:hover {
    color: var(--HuisstijlKleur);
}

main section:nth-of-type(3) li p {
    grid-row-start: 3;
    grid-column-start: 1;
    margin: 0 0 0 .5em;
    font-family: "Vag Rounded";
    font-weight: 700;
    color: var(--HuisstijlKleur);
}

main section:nth-of-type(3) article a:last-of-type {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 70%;
    min-width: 10em;
    justify-self: center;
}

main section:nth-of-type(3) button:first-of-type {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: end;
    background: none;
    padding: 0;
    margin: .2em;
    width: 3em;
    aspect-ratio: 1 / 1;
}

main section:nth-of-type(3) button:last-of-type {
    grid-row-start: 3;
    grid-column-start: 1;
    justify-self: end;
    margin: .5em;
    width: 3em;
    aspect-ratio: 1 / 1;
    background-color: var(--TekstNavigatie);
    border-radius: 1em;
    padding: .5em;
	font-family: "Fat Frank";
	font-weight: 400;
	text-transform: uppercase;
	color: var(--AchtergrondKleur);
}

main section:nth-of-type(3) button:last-of-type:hover {
    background-color: var(--HoverButtons);
}

main section:nth-of-type(3) > a {
    font-family: "Fat Frank";
    font-weight: 400;
    font-size: medium;
    text-transform: uppercase;
    color: var(--AchtergrondKleur);
    background-color: var(--TekstNavigatie);
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em 3em 1em 3em;
    border-radius: 2em;
    transition: 300ms;
}

main section:nth-of-type(3) > a:hover {
    background-color: var(--HoverButtons);
}

/* Fatbike winactie */
main section:nth-of-type(4) {
    display: grid;
    background-color: var(--HuisstijlKleur);
    align-items: center;
}

main section:nth-of-type(4) img:first-of-type {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
    border-radius: 0;
}

main section:nth-of-type(4) img:last-of-type {
    grid-row-start: 2;
    grid-column-start: 1;
    width: 100%;
    border-radius: 0;
}

main section:nth-of-type(4) article {
    grid-row-start: 2;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 2em 3em 6em 6em;
    align-items: center;
    justify-items: center;
}

main section:nth-of-type(4) article img {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    max-height: 15em;
}

main section:nth-of-type(4) h2 {
    grid-row-start: 2;
    grid-column-start: 2;
    z-index: 1;
    color: var(--AchtergrondKleur);
}

main section:nth-of-type(4) p:first-of-type {
    grid-row-start: 1;
    grid-column-start: 2;
    align-self: end;
    margin: 0;
    z-index: 1;
    font-family: "Painted Paradise";
    font-size: large;
    color: var(--ButtonKleur);
}

main section:nth-of-type(4) p:last-of-type {
    grid-row-start: 3;
    grid-column-start: 2;
    text-align: center;
    z-index: 1;
    color: var(--AchtergrondKleur);
}

main section:nth-of-type(4) a {
    grid-row-start: 4;
    grid-column-start: 2;
    font-family: "Fat Frank";
    text-transform: uppercase;
    color: var(--TekstNavigatie);
    background-color: var(--ButtonKleur);
    padding: 1em 3em 1em 3em;
    border-radius: 2em;
}

/* Voor grotere schermen */
@media screen and (min-width: 40em) {
    main section:nth-of-type(2) h2 {
        font-size: 2em;
    }
    
    main section:nth-of-type(2) img {
        width: 30em;
    }

    main section:nth-of-type(3) ul {
        gap: 4em;
    }

    main section:nth-of-type(4) {
        grid-template-columns: 40% 60%;
    }

    main section:nth-of-type(4) article {
        grid-template-rows: max-content;
        grid-column-start: 2;
        grid-row-start: 1;
        justify-items: start;
        align-content: center;
        padding: 1em;
    }

    main section:nth-of-type(4) article p:last-of-type {
        text-align: left;
    }

    main section:nth-of-type(4) img:first-of-type {
        height: 100%
    }

    main section:nth-of-type(4) img:nth-of-type(2) {
        grid-column-start: 2;
        grid-row-start: 1;
        object-fit: cover;
    }

}