/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
    font-family: "Adobe Clean";
    src: url(/fonts/AdobeClean-Bold.otf),
    url(/fonts/AdobeClean-Regular.otf);
}

@font-face {
    font-family: "Fat Frank";
    src: url(/fonts/fat-frank-900.woff2);
}

@font-face {
    font-family: "Vag Rounded";
    src: url(/fonts/vag-rounded-std-300.woff2),
    url(/fonts/vag-rounded-std-700.woff2);
}

@font-face {
	font-family: "Unicons line";
	src: url(/fonts/unicons-line-400.woff2);
}

@font-face {
	font-family: "Painted Paradise";
	src: url(/fonts/painted-paradise-400.woff2);
}

@font-face {
	font-family: "Unknown Download";
	src: url(/fonts/download.woff);
}

:root {
	--AchtergrondKleur: white;
	--TekstKleur: magenta;
	--AccentKleur: black;
	--TekstNavigatie: purple;
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--AchtergrondKleur);
	color: var(--TekstNavigatie);
	font-family: "Vag Rounded";
	font-weight: 700;
}

a {
		text-decoration: none;
}

nav ul {
	display: flex;
	gap: 2em;
	list-style: none;
}

nav button {
	display: none;
	position: relative;
	background-color: var(--AchtergrondKleur);
}

/* 

nav button {
	background-color: var(--AchtergrondKleur);
	display: none;
	position: relative;
	z-index: 1;
}

nav ul {
	background-color: var(--AchtergrondKleur);
	list-style: none;
	display: flex;
	gap: 2em;
	position: fixed;
} */

button {
	border: none;
}

main img {
	width: 95%;
	border-radius: .5em;
}

h1 {
	display: none;
}

h2 {
	font-family: "Fat Frank";
	font-weight: 500;
}

p {
	font-family: "Vag Rounded";
	font-weight: 500;
}
